---
title: About
---

<div class="jumbotron">
  <h1>About Us</h1>
  <p>The interior comprises a living room, separate kitchen and bathroom downstairs, and one bedroom upstairs.
  The property has been redecorated and refurnished throughout in a contemporary manner, with a traditional
      feel.</p>
  <p>The cottage is available year round on a weekly basis.</p>
  <div class="images">
          <!-- Example row of columns -->
          <div class="row">
              <div class="col-md-4">
                  <img src="images/lounge_3.jpg" class="img-responsive">
              </div>
              <div class="col-md-4">
                  <img src="images/lounge_2.jpg" class="img-responsive">
              </div>
              <div class="col-md-4">
                  <img src="images/kitchen.jpg" class="img-responsive">
              </div>
          </div>
