---
title: Homepage
---

<div class="jumbotron">
  <h1>Welcome!</h1>
  <p>Welcome to the enchanting town of Padstow situated on the Camel Estuary situated on the Camel Estuary on
  the North Coast of Cornwall. Enjoy a stroll around the picturesque harbour and town with it's variety
  of individual shops, or take a longer walk along the estuary with it's panoramic views.</p>
  <p>3 Mill Road is situated in Old Padstow, within 100 yards of the harbour. It was originally an alms house,
  but underwent major renovations in 2003, and it now a three star self-catering holiday let that has been
  tastefully equipped with all new furniture. This property is suitable for 2-4 people.</p>
  <p>For information on booking please either use our contact form or call us on 07770 574964</p>
  <p>
      <a class="btn btn-lg btn-primary" href="about.html" role="button">Learn More &raquo;</a>
  </p>
