---
title: Homepage
---

<div class="jumbotron">
  <h1>Where We Are</h1>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2535.646582870557!2d-4.9389628000000005!3d50.5407447!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486b752386c0cb6d%3A0x537671db27766b36!2s3+Mill+Rd%2C+Padstow%2C+Cornwall+PL28+8BT!5e0!3m2!1sen!2suk!4v1435850360705" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  <p>Please pick up the key from Java Cafe, 10 Lanadwell Street (opposite the Golden Lion pub) upon arrival, see below.</p>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2535.6285671436904!2d-4.941869384074175!3d50.54107978871115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486b752380324407%3A0xdcad89c1ec93d641!2sJava!5e0!3m2!1sen!2suk!4v1467711187694" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>